@import url(//db.onlinewebfonts.com/c/35106d6019ed0c5cceca3cfd5ad83db2?family=Xolonium);
@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);
body {
  margin: 0;
  font-family: "xolonium";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
